*{
 box-sizing: border-box; 
}

body { 

 margin: auto;
 padding: 10px; 
 width: 95vw;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}
.header{
  width: 100%;
  display: grid;
  gap: 20px;
}
.menu{
  width: 100%; 
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;

}
.banner{
  padding: 10px;
  border: 3px solid rgba(6, 247, 26, 0.986);
  display: flex;
  justify-content:space-between ;
  min-width: 100%;
  align-items: flex-start;
  background-image: url("/imagen/unicor.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner > h1{
  font-size: 70px;
  font-weight: bold;
 margin: 0;
 
}
.container_perfil1{
  overflow: hidden;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 3px solid rgba(6, 247, 26, 0.986);
}

.perfil{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.principal{
  width: 90%;
  display: flex;
  gap: 20px;
  margin-top: 20px;

}
.container{
  min-width: 250px;
  height: 300px;
  border: 3px solid rgba(6, 247, 26, 0.986);
  overflow: hidden;
}
.imagenes{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content > h1{
  font-size: 60px;
  margin: 0;
}
.content > p{
  font-size: 25px;
  text-wrap: balance;
}
footer{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  border: 3px solid rgba(6, 247, 26, 0.986);
  align-items: center;
  margin-top: 20px;
}
.redsocial{
  display: flex;
  width: fit-content;
  gap: 20px;
  align-items: flex-end;

}
.redsocial> a{
  border-radius: 50%;
  border: 3px solid rgba(6, 247, 26, 0.986);
  overflow: hidden;
display: grid;
place-items: center;
}
.red_1 {
  width: 60px;
  height: 60px;

} 
.red_2{
  width: 70px;
  height: 70px;
}
.red_3{
  width: 80px;
  height: 80px;
}
.redsocial> a>img{
  width: 90%;
  height: 90%;
  object-fit: cover;
}